
body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header
{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav
{
    
    background-color: #444;
    color: #fff;
    
    text-align: center;
    padding: 10px 0;
    
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}
/*
nav a:hover
{
    text-decoration: none;
    color: gray;
}
*/
section
{
    padding: 20px;
}
.product
{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}
.product img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-check-label {
    margin-left: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.mt-3 {
    margin-top: 20px;
}
h3 {
    color: red;
    margin-top: 20px;
}
h3.social-media {
    color: purple;
    margin-top: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
        
li {
    margin-bottom: 5px;
}
        
a {
    color: blue;
    text-decoration: none;
}
h2 {
    text-align: center;
}
h1{
    text-align: center;
    color:white;
    border-width: 5px 5px 5px 5px;      
    margin-top: 0%;
}
.review{
    font-size: large;
}
img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.user{
    font-size:x-large;
}
#navBarUsingIdDiv1
{
    background-color: #333;
    font-size: large;
}
#navBarUsingIdDiv1 a:hover
{
    color: rgb(197, 184, 184);
}
#navBarUsingIdDiv1 a
{
    color: white;
}
/*
.navbar-nav > a
{
    color:rgb(255, 255, 255);
}
.navbar-nav  > a:hover
{
    color:rgb(205, 195, 195);
}
*/